<% include ../partials/header.ejs %>

<!-- Main Content -->
<main class= "container">
  <div class="row">
    <div class="col-5">
     <div class="jumbotron">
       <h2 class="h1 text-warning"><%= title %></h2>
    </div>
    </div>
  
 
        <img src="./Assets\images\welcome.jpg" alt="Ali Goharbakhsh" width="900" height="325" >
</div>

<% include ../partials/footer.ejs %>


